<% include partials/header %>
<% include partials/navbar %>
<body>
    <div class="home__form--container">
        <div class="home__form--box ">
            <form action="/<%= location %>/homes" method="POST">
                <h3>ADD NEW HOME</h3><br>
                <p>Location<br>
                    <input type="text" name="location" value=""></p>
                <p>Title<br>
                    <input type="text" name="title" value=""></p>
                <p>Beds<br>
                    <input type="text" name="beds" value=""></p>
                <p>Price<br>
                    <input type="text" name="price" value=""></p>
                <p>Img url<br>
                    <input type="text" name="imgUrl" value=""></p>
                <p>Stars<br>
                    <input type="text" name="stars" value=""></p>
                <p>Description<br>
                    <input type="text" name="description" value=""></p>
                <div class="button__red">
                    <button type="submit" value="Submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
<% include partials/footer %>