<!DOCTYPE html>
<html>
<% include partials/header %>
<body>
    <form action="/home" method="POST">
        <p>Title<br>
            <input type="text" name="title" value=""></p>
        <p>Price<br>
            <input type="text" name="price" value=""></p>
        <p>Img url<br>
            <input type="text" name="imgUrl" value=""></p>
        <p>Description<br>
            <input type="text" name="description" value=""></p>
        <input type="submit" value="Submit">
    </form>
</body>
<% include partials/footer %>
</html>