<!DOCTYPE html>
<html>
<% include partials/header %>
<link rel="stylesheet" type="text/css" media="screen" href="/styles/home.css" />

<body>
    <% include partials/navbar %>

    <h1>Your Profile</h1>
</body>